@font-face {
    font-family: "Allison_Script";
    src: local("Allison_Script"),
        url("/fonts/Allison_Script.otf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    src: local("Merriweather"),
        url("/fonts/Merriweather.ttf") format("truetype");
}